* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
	width: 100%;
	background: linear-gradient(#368df7, #7ab6ff, #A4CDFF, #afd1fa);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
    display: flex;
    padding: 4%, 8%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
} 

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #4C6491;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #4C6491;
    background-color: #4C6491;
    transition: 1.5s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .text-box p {
        font-size: 11px;
    }
    .hero-btn {
        font-size: 10px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #4C6491;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 28px;
    }
}

.coarse {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

p {
	color: black;
	font-size: 15px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.course-col {
	flex-basis: 31%;
	background: #D1E3FF;
	border-radius: 10px;
	margin-bottom: 6%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.course-col:hover {
	box-shadow: 0 0 20px #204278;
}

@media(max-width: 700px) {
	.row {
		flex-direction: column;
	}
	.hero-btn {
		font-size: 12px;
	}
}

.campus {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

.campus-col {
	flex-basis: 32%;
	border: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.campus-col img {
	width: 100%;
	border-radius: 10px;
	display: block;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	border-radius: 10px;
}

.layer:hover {
	background: #A4CDFF;
	opacity: 0.8;
}

.layer h3 {
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 35px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3 {
	bottom: 30%;
	opacity: 1;
}

.facilities {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.facilities-col {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}

.facilities-col img {
	width: 100%;
	border: 10px;
}

.facilities-col p {
	padding: 0;
}

.facilities-col h3 {
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

.testimonials {
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}

.testimonial-col {
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #D1E3FF;
	padding: 25px;
	cursor: pointer;
	display: flex;
}

.testimonial-col img {
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}

.testimonial-col p {
	padding: 0;
}

.testimonial-col h3 {
	margin-top: 15px;
	text-align: left;
}

.testimonial-col .fa1 {
	color: #FF6262;
}

@media(max-width: 700px) {
	.testimonial-col img {
	margin-right: 15px;
	border-radius: 50%;
}
}

.cta {
	margin: 100px auto;
	width: 80%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../multimedia/footer.png);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}

.cta h1 {
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}

.hero-btn1 {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px ;
	font-size: 16px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn1:hover {
	border: 1px solid darkblue;
	background: darkblue;
	transition: 1s;
}

@media(max-width: 100px) {
	.cta h1 {
		font-size: 20px;
	}
}

.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0 ;
	background: linear-gradient(#f09091, #e8797a);
}

.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.icons .fa-brands{
	font-size: 30px;
	color: darkred;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}

.sub-footer {
    width: 100%;
	text-align: center;
	padding: 30px 0 ;
}
.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.sub-header {
    height: 50vh;
    width:  100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 100px;
    font-size: 62px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;

}

.about-col h1 {
    padding: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid rgb(157, 157, 252);
    background: transparent;
    color: rgb(157, 157, 252);
}

.red-btn:hover {
    color: white;
}

.location {
	width: 80%;
	margin: auto;
	padding: 80px 0;
}

.location iframe {
	width: 100%;
}

.contact-us {
	width: 80%;
	margin: auto;
}

.contact-col {
	flex-basis: 48%;
	margin-bottom: 30px;
}

.contact-col div {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.contact-col div .fa {
	font-size: 28px;
	color: #4C6491;
	margin: 10px;
	margin-right: 30px;
}

.contact-col div p {
	padding: 0;
}

.contact-col div h5 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}

.contact-col input, .contact-col textarea {
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

